body{

  margin: 0;
  background: linear-gradient(to right bottom, rgb(165, 245, 107),rgb(0, 169, 241));
  height: 100vh;
  display: flex;
align-items: center;
  justify-content: center;
  color: rgb(3, 96, 96);
}


.container{

  
  background: rgba(255,255, 255, 0.4);
 padding: 20px;
 box-shadow: 0 4px 8px rgba(0,0,0,0.5);
 border-radius: 10px;
 width: 85%;
 max-width: 450px;
 min-width: 350px;
 display: flex;
 flex-direction: column;
 align-items: center;

}

.heading{

  font-size: 40px;
  margin: 0 0 30px 0;

}

.temp-container{

  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.input{

  width: 220px;
  font-weight: 800;
  color: rgb(6, 48, 6);
  padding: 5px;
  float: right; /*moving it to right margin*/
  outline: none;
  background: rgba(255,255, 255, 0.4);
  border-color: rgba(255,255, 255, 0.9);

}

.input::placeholder{

  color: rgb(139, 137, 137);
  font-family:sans-serif;
}


